nl-diagnostica-agent/workspaces/NLDiag-RAG-Admin.json
{
  "name": "NLDiag-RAG-Admin",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "nldiag-rag-docs",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "e1000001-0000-4000-8000-000000000001",
      "name": "Webhook - List Docs",
      "position": [200, -200],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "nldiag-rag-docs-list"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  m.file_id AS id, m.file_id, m.title, m.code, m.url, m.source, m.mime_type,\n  COALESCE((SELECT COUNT(*) FROM nl_documents d WHERE d.metadata->>'file_id' = m.file_id), 0) AS chunk_count,\n  m.created_at, m.updated_at AS last_indexed_at\nFROM nl_document_metadata m\nORDER BY COALESCE(m.code, m.title, m.file_id);",
        "options": {}
      },
      "id": "e1000001-0000-4000-8000-000000000002",
      "name": "List Docs from DB",
      "position": [420, -200],
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "credentials": { "postgres": { "id": "REPLACE_ME_NLDIAG_DB", "name": "NLDiag-DB" } }
    },
    {
      "parameters": { "jsCode": "const docs = $input.all().map(i => i.json);\nreturn [{ json: { docs } }];" },
      "id": "e1000001-0000-4000-8000-000000000003",
      "name": "Wrap Docs",
      "position": [620, -200],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ $json }}", "options": {} },
      "id": "e1000001-0000-4000-8000-000000000004",
      "name": "Respond Docs",
      "position": [820, -200],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1
    },

    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nldiag-rag-doc-delete",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "e1000002-0000-4000-8000-000000000001",
      "name": "Webhook - Delete Doc",
      "position": [200, 0],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "nldiag-rag-doc-delete"
    },
    {
      "parameters": {
        "jsCode": "const b = $input.first().json || {};\nconst body = b.body || b;\nconst q = b.query || b.queryString || {};\nconst fileId = body.file_id || body.id || q.file_id || q.id;\nif (!fileId) throw new Error('file_id is required');\nreturn { fileId };"
      },
      "id": "e1000002-0000-4000-8000-000000000002",
      "name": "Extract file_id (delete)",
      "position": [420, 0],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH purged AS (\n  DELETE FROM nl_documents WHERE metadata->>'file_id' = '{{ $json.fileId }}' RETURNING 1\n), purged_rows AS (\n  DELETE FROM nl_document_rows WHERE dataset_id = '{{ $json.fileId }}' RETURNING 1\n)\nDELETE FROM nl_document_metadata WHERE file_id = '{{ $json.fileId }}' RETURNING file_id AS deleted_file_id;",
        "options": {}
      },
      "id": "e1000002-0000-4000-8000-000000000003",
      "name": "Delete Doc from DB",
      "position": [640, 0],
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "credentials": { "postgres": { "id": "REPLACE_ME_NLDIAG_DB", "name": "NLDiag-DB" } }
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ { status: 'ok', deleted: $json.deleted_file_id } }}", "options": {} },
      "id": "e1000002-0000-4000-8000-000000000004",
      "name": "Respond Delete",
      "position": [860, 0],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1
    },

    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nldiag-rag-purge-all",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "e1000003-0000-4000-8000-000000000001",
      "name": "Webhook - Purge All",
      "position": [200, 200],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "nldiag-rag-purge-all"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "TRUNCATE TABLE nl_documents RESTART IDENTITY;\nTRUNCATE TABLE nl_document_rows RESTART IDENTITY;\nTRUNCATE TABLE nl_document_metadata RESTART IDENTITY CASCADE;\nSELECT 'ok' AS status;",
        "options": {}
      },
      "id": "e1000003-0000-4000-8000-000000000002",
      "name": "Purge All RAG Tables",
      "position": [420, 200],
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "credentials": { "postgres": { "id": "REPLACE_ME_NLDIAG_DB", "name": "NLDiag-DB" } }
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ { status: 'success', message: 'Base RAG limpa.' } }}", "options": {} },
      "id": "e1000003-0000-4000-8000-000000000003",
      "name": "Respond Purge",
      "position": [640, 200],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1
    },

    {
      "parameters": {
        "content": "## NL Diagnostica — RAG Admin API\n\nTrês webhooks usados pelo painel **Documentos** (admin):\n\n| Método | Path | O que faz |\n|---|---|---|\n| GET | `/nldiag-rag-docs` | Lista documentos do RAG + contagem de chunks |\n| POST | `/nldiag-rag-doc-delete` | Remove um documento por `file_id` |\n| POST | `/nldiag-rag-purge-all` | Limpa toda a base RAG |\n\nA ingestão (upload + embeddings) está em **NLDiag-RAG.json**. O RAG é GLOBAL — sem ACL por categoria/equipe; todo membro autenticado consulta tudo via agente.",
        "height": 280,
        "width": 460
      },
      "id": "e1000099-0000-4000-8000-000000000001",
      "name": "Sticky Note",
      "position": [-260, -200],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - List Docs": { "main": [[{ "node": "List Docs from DB", "type": "main", "index": 0 }]] },
    "List Docs from DB": { "main": [[{ "node": "Wrap Docs", "type": "main", "index": 0 }]] },
    "Wrap Docs": { "main": [[{ "node": "Respond Docs", "type": "main", "index": 0 }]] },
    "Webhook - Delete Doc": { "main": [[{ "node": "Extract file_id (delete)", "type": "main", "index": 0 }]] },
    "Extract file_id (delete)": { "main": [[{ "node": "Delete Doc from DB", "type": "main", "index": 0 }]] },
    "Delete Doc from DB": { "main": [[{ "node": "Respond Delete", "type": "main", "index": 0 }]] },
    "Webhook - Purge All": { "main": [[{ "node": "Purge All RAG Tables", "type": "main", "index": 0 }]] },
    "Purge All RAG Tables": { "main": [[{ "node": "Respond Purge", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "binaryMode": "separate", "availableInMCP": false },
  "id": "NLDiagRAGAdmin",
  "tags": []
}
