nl-diagnostica-agent/workspaces/NLDiag-Aprendizado.json
{
  "name": "NLDiag-Aprendizado",
  "nodes": [
    {
      "parameters": {
        "content": "## NL Diagnostica — Aprendizado por feedback na triagem\n\n**POST `/nldiag-aprendizado`** — recebe o feedback do operador no momento do aceite/recusa:\n```\n{ \"edital_id\":\"<uuid>\", \"linha\":\"Hemostasia\", \"acao\":\"aceitar|recusar\",\n  \"palavras_boas\":[\"...\"], \"palavras_ruins\":[\"...\"], \"regra\":\"texto livre\" }\n```\n1. **Normaliza** os candidatos (dedup local, cap de quantidade).\n2. **Embeddings** (Azure `text-embedding-3-small`, 1536) de todos os candidatos numa só chamada. Se falhar, segue só com dedup EXATA (degradação graciosa).\n3. **`nl_aprendizado_aplicar`** (migration 023): dedup EXATA + SEMÂNTICA (cosseno), grava só o NOVO (palavras boas → catálogo, ruins → negativos, regra → `nl_triagem_regra`), respeitando os tetos.\n4. Responde `{gravados, descartados_exato, descartados_semantico}`.\n\nO **reprocesso** (`nl_rematch_reset` + loop `nl_rematch_all`) é disparado pelo FRONT após a resposta (reusa a lógica do `btnRematch`).\n\n⚠️ Substituir `REPLACE_ME_AZURE_EMBEDDINGS_URL` pela URL do deployment de embeddings (mesmo do NLDiag-RAG). Requer migration **023_aprendizado_triagem.sql**.",
        "height": 320,
        "width": 480
      },
      "id": "a0000000-0000-4000-8000-000000000000",
      "name": "Sticky Note",
      "position": [400, 100],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nldiag-aprendizado",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "a0000000-0000-4000-8000-000000000001",
      "name": "Webhook Aprendizado",
      "position": [400, 480],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "nldiag-aprendizado"
    },
    {
      "parameters": {
        "jsCode": "// Normaliza o feedback: aceita arrays ou strings separadas por vírgula/;/linha.\nconst b = $input.first().json || {};\nconst body = b.body || b;\nconst linha = String(body.linha || '').trim();\nif (!linha) throw new Error('linha do catálogo é obrigatória.');\nconst edital_id = String(body.edital_id || '').trim();\nconst acao = String(body.acao || '').trim();\n\nconst splitTerms = (v) => Array.isArray(v) ? v : String(v || '').split(/[,;\\n]/);\nconst clean = (s) => String(s || '').trim();\nconst uniq = (arr) => {\n  const seen = new Set(); const out = [];\n  for (const x of arr) { const k = x.toLowerCase(); if (!seen.has(k)) { seen.add(k); out.push(x); } }\n  return out;\n};\n\nconst boas  = uniq(splitTerms(body.palavras_boas).map(clean).filter(x => x.length >= 2)).slice(0, 20);\nconst ruins = uniq(splitTerms(body.palavras_ruins).map(clean).filter(x => x.length >= 2)).slice(0, 20);\nlet regra = clean(body.regra);\nif (regra.length > 280) regra = regra.slice(0, 280);\n\n// Lista única de textos p/ embeddar, com mapa de volta.\nconst inputs = [];\nconst map = { boas: [], ruins: [], regra: -1 };\nboas.forEach(t => { map.boas.push(inputs.length); inputs.push(t); });\nruins.forEach(t => { map.ruins.push(inputs.length); inputs.push(t); });\nif (regra.length >= 4) { map.regra = inputs.length; inputs.push(regra); }\n\nreturn [{ json: { linha, edital_id, acao, boas, ruins, regra, inputs, map, tem: inputs.length > 0 } }];"
      },
      "id": "a0000000-0000-4000-8000-000000000002",
      "name": "Normalizar Feedback",
      "position": [620, 480],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "tem-candidatos",
              "leftValue": "={{ $json.tem }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a0000000-0000-4000-8000-000000000003",
      "name": "Tem candidatos?",
      "position": [840, 480],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "REPLACE_ME_AZURE_EMBEDDINGS_URL",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "azureOpenAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ input: $json.inputs }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "a0000000-0000-4000-8000-000000000004",
      "name": "Embeddings (Azure)",
      "position": [1060, 400],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "credentials": {
        "azureOpenAiApi": {
          "id": "xby4FSbCaCnssJxl",
          "name": "Azure Open AI account 3"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Casa os embeddings de volta aos candidatos. Se faltar embedding\n// (falha do nó), degrada para dedup EXATA apenas (sem o campo embedding).\nconst meta = $('Normalizar Feedback').first().json;\nconst resp = $input.first().json || {};\nconst embs = Array.isArray(resp.data) ? resp.data.map(d => d && d.embedding) : [];\nconst hasEmb = embs.length === meta.inputs.length && embs.every(e => Array.isArray(e) && e.length > 0);\nconst getEmb = (i) => (hasEmb && i >= 0) ? embs[i] : null;\n\nconst boas = meta.boas.map((t, k) => { const e = getEmb(meta.map.boas[k]); return e ? { termo: t, embedding: e } : { termo: t }; });\nconst ruins = meta.ruins.map((t, k) => { const e = getEmb(meta.map.ruins[k]); return e ? { termo: t, embedding: e } : { termo: t }; });\nlet regra = null;\nif (meta.map.regra >= 0) { const e = getEmb(meta.map.regra); regra = e ? { texto: meta.regra, embedding: e } : { texto: meta.regra }; }\n\nconst payload = {\n  linha: meta.linha,\n  origem_edital_id: meta.edital_id || null,\n  origem_acao: meta.acao || null,\n  limiar_termo: 0.90,\n  limiar_regra: 0.86,\n  boas, ruins, regra\n};\nconst b64 = Buffer.from(JSON.stringify(payload), 'utf8').toString('base64');\nreturn [{ json: { b64, edital_id: meta.edital_id, dedup_semantica: hasEmb } }];"
      },
      "id": "a0000000-0000-4000-8000-000000000005",
      "name": "Montar Payload",
      "position": [1280, 400],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT nl_aprendizado_aplicar(convert_from(decode('{{ $json.b64 }}','base64'),'utf8')::jsonb) AS r;",
        "options": {}
      },
      "id": "a0000000-0000-4000-8000-000000000006",
      "name": "Aplicar Aprendizado",
      "position": [1500, 400],
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'ok', dedup_semantica: $('Montar Payload').first().json.dedup_semantica, resultado: $json.r } }}",
        "options": {}
      },
      "id": "a0000000-0000-4000-8000-000000000007",
      "name": "Respond OK",
      "position": [1720, 400],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'ok', vazio: true, resultado: { gravados: { boas: [], ruins: [], regras: 0 }, descartados_exato: [], descartados_semantico: [] } } }}",
        "options": {}
      },
      "id": "a0000000-0000-4000-8000-000000000008",
      "name": "Respond Vazio",
      "position": [1060, 640],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Webhook Aprendizado": {
      "main": [[{ "node": "Normalizar Feedback", "type": "main", "index": 0 }]]
    },
    "Normalizar Feedback": {
      "main": [[{ "node": "Tem candidatos?", "type": "main", "index": 0 }]]
    },
    "Tem candidatos?": {
      "main": [
        [{ "node": "Embeddings (Azure)", "type": "main", "index": 0 }],
        [{ "node": "Respond Vazio", "type": "main", "index": 0 }]
      ]
    },
    "Embeddings (Azure)": {
      "main": [[{ "node": "Montar Payload", "type": "main", "index": 0 }]]
    },
    "Montar Payload": {
      "main": [[{ "node": "Aplicar Aprendizado", "type": "main", "index": 0 }]]
    },
    "Aplicar Aprendizado": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
