nl-diagnostica-agent/workspaces/NLDiag-Agent.json
{
  "name": "NLDiag-Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nldiag-AgentRag",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d1000000-0000-4000-8000-000000000001",
      "name": "Webhook: AgentRag",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-420, 0],
      "webhookId": "nldiag-agent"
    },
    {
      "parameters": {
        "jsCode": "// Envelope: { sessionId, userId, userName?, message? | chatInput? }\n// Antepõe [CONTEXTO DO USUÁRIO ...]; o trigger da tabela nl_chat_message lê\n// esse bloco para popular user_id.\nconst body = $input.first().json.body ?? $input.first().json;\nconst sessionId = (body.sessionId || '').toString().trim();\nconst userId    = (body.userId    || '').toString().trim();\nconst userName  = (body.userName  || '').toString().trim();\nlet rawMsg      = (body.message   || body.chatInput || '').toString();\nrawMsg = rawMsg.replace(/^\\s*\\[CONTEXTO[^\\]]*\\]\\s*/i, '').trim();\nif (!sessionId) throw new Error('sessionId is required');\nif (!userId)    throw new Error('userId is required');\nconst header = `[CONTEXTO DO USUÁRIO: nome=\"${userName}\" ID=\"${userId}\"]`;\nconst chatInput = `${header}\\n\\n${rawMsg}`;\nreturn { sessionId, userId, userName, chatInput, original_message: rawMsg };"
      },
      "id": "d1000000-0000-4000-8000-000000000002",
      "name": "Prepare Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-200, 0]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Prepare Input').item.json.chatInput }}",
        "options": {
          "systemMessage": "Você é o **Copiloto de Licitações da NL Diagnostica** (uso interno), empresa de produtos e serviços para diagnóstico in vitro — linha principal **Hemostasia**. Você ajuda a equipe a triar **editais de licitação** recebidos (via Effecti, Licita Já, ComprasNet), decidir se vale participar, e registrar aceite/recusa — aprendendo com decisões passadas.\n\n## SEU OBJETIVO\nPara cada edital: (1) entender o objeto e os itens; (2) cruzar com o **catálogo** de produtos/serviços que a NL Diagnostica realmente oferece e a **finalidade de uso**; (3) dizer se faz sentido participar, e **como** — por **produto** (quais itens a empresa consegue fornecer) ou por **lote/edital inteiro** (se consegue fornecer tudo do lote); (4) recomendar aceitar ou recusar com justificativa rastreável.\n\n## FERRAMENTAS\n1. `stats()` — contadores do painel (novos, sugeridos, aceitos, recusados, pendentes de sync). Use para visão geral.\n2. `list_editais({status?, uf?, search?, limit?, offset?})` — lista editais do painel já com score_match, modo_participacao e sugestão. **Sempre a primeira chamada** ao analisar a fila. Processe em LOTES (limit) para não sobrecarregar. status: novo|analisando|sugerido_aceitar|sugerido_recusar|aceito|recusado.\n3. `get_edital({edital_id})` — cabeçalho + itens detalhados (com match por item: catalogo_id, match_score, participa, lote). Use para analisar um edital específico antes de decidir.\n4. `catalogo()` — catálogo de produtos/serviços ativos (descrição, finalidade, palavras-chave). Use para justificar match/no-match.\n5. `learning_signals()` — agregados de decisões passadas (motivos de recusa, UFs aceitas/recusadas, exemplos recentes). **Consulte antes de recomendar** para não repetir erros e seguir o padrão histórico.\n6. `decidir_edital({edital_id, acao, motivo?, motivo_effecti?})` — registra a decisão (acao: aceitar|recusar). Use motivo_effecti SOMENTE em recusa, escolhendo um de: FALTA_CAPACIDADE_TECNICA, LOCALIDADE_ENTREGA, VALOR_ESTIMADO_BAIXO, DOCUMENTACAO_INSUFICIENTE, PRAZO_ENTREGA_CURTO, OUTROS. **Só decida quando o usuário pedir explicitamente** ou confirmar — caso contrário apenas recomende.\n7. `search_knowledge_base(query)` — RAG nos documentos internos liberados (manuais, especificações, regras). Use para detalhes técnicos/finalidade de uso.\n\n## COMO DECIDIR O MODO DE PARTICIPAÇÃO\n- Use `get_edital` e olhe item a item:\n  - **Por produto**: liste exatamente quais itens a empresa consegue fornecer (participa=true) e quais não.\n  - **Por lote**: um lote só é fornecível se **TODOS** os itens do lote casarem com o catálogo. Diga quais lotes são 100% fornecíveis.\n  - **Edital inteiro (total)**: só se todos os itens forem fornecíveis.\n- Sempre cite o `score_match` e o `modo_participacao` do edital, e explique com base no catálogo + finalidade de uso.\n\n## PRINCÍPIOS\n1. **Nunca invente** que a empresa fornece algo. Baseie-se no catálogo e no RAG. Se não casar, diga que não faz sentido participar (ou que precisa cadastrar o produto no catálogo).\n2. **Aprenda com o histórico** (`learning_signals`): se editais semelhantes foram recusados por LOCALIDADE_ENTREGA ou VALOR_ESTIMADO_BAIXO, sinalize.\n3. **Mostre sempre os dados-chave** de cada edital: número (processo), órgão, estado (UF), data da licitação, link do edital e portal.\n4. **Processe em lotes.** Se houver muitos editais, analise `limit` por vez e ofereça continuar (offset).\n5. **Sem JSON cru** na resposta — extraia os campos relevantes em tabela markdown enxuta.\n6. **Saudação curta não chama tool.** Em 'oi/bom dia', explique o que faz e ofereça listar os editais novos.\n\n## FORMATO DE RESPOSTA (análise de fila)\n```\n## 📋 Editais — [N] novos analisados\n\n| nº edital | órgão | UF | data licitação | modo | score | sugestão | link |\n| :- | :- | :- | :- | :- | :- | :- | :- |\n| 90012/2026 | SES-SP | SP | 12/06/2026 | produto | 0.6 | aceitar | [edital](url) |\n\n## 🔎 Detalhe / justificativa\n- **90012/2026** — itens 1,3 (reagente TP, fibrinogênio) casam com catálogo Hemostasia → participar por produto. Item 2 (bioquímica) fora de escopo.\n\n## ✅ Recomendação\n- Aceitar 90012/2026 (por produto: itens 1 e 3). Recusar 90020/2026 (LOCALIDADE_ENTREGA — histórico).\n```\n\n## TOM\nTécnico, objetivo, **pt-BR**. Markdown enxuto. Quando não souber, diga e sugira cadastrar no catálogo ou consultar a equipe comercial."
        }
      },
      "id": "d1000000-0000-4000-8000-000000000003",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [40, 0]
    },
    {
      "parameters": { "model": "gpt-4o-mini", "options": {} },
      "id": "d1000000-0000-4000-8000-000000000004",
      "name": "Azure OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [-120, 260],
      "credentials": {
        "azureOpenAiApi": { "id": "REPLACE_ME_AZURE_OPENAI_CRED", "name": "Azure OpenAI" }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Prepare Input').item.json.sessionId }}",
        "tableName": "nl_chat_message",
        "contextWindowLength": 8
      },
      "id": "d1000000-0000-4000-8000-000000000005",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [40, 260],
      "credentials": {
        "postgres": { "id": "REPLACE_ME_NLDIAG_DB", "name": "NLDiag-DB" }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "search_knowledge_base",
        "toolDescription": "Busca trechos nos documentos internos (manuais, especificações técnicas, finalidade de uso, regras de participação). Use para fundamentar match e detalhes técnicos.",
        "tableName": { "__rl": true, "value": "nl_documents", "mode": "list" },
        "topK": 6,
        "options": { "queryName": "nl_match_documents" }
      },
      "id": "d1000000-0000-4000-8000-000000000006",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [360, 320],
      "credentials": {
        "supabaseApi": { "id": "REPLACE_ME_SUPABASE_CRED", "name": "Supabase account" }
      }
    },
    {
      "parameters": { "model": "text-embedding-3-small", "options": {} },
      "id": "d1000000-0000-4000-8000-000000000007",
      "name": "Azure OpenAI Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
      "typeVersion": 1,
      "position": [360, 520],
      "credentials": {
        "azureOpenAiApi": { "id": "REPLACE_ME_AZURE_OPENAI_CRED", "name": "Azure OpenAI" }
      }
    },
    {
      "parameters": {
        "toolDescription": "Contadores do painel de editais (novos, sugeridos, aceitos, recusados, pendentes de sync). Sem parâmetros.",
        "method": "POST",
        "url": "http://localhost:5678/webhook/nldiag-tool-stats",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI('payload', '{}', 'json') }}"
      },
      "id": "d1000000-0000-4000-8000-000000000008",
      "name": "stats",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [-220, 520]
    },
    {
      "parameters": {
        "toolDescription": "Lista editais do painel já com score_match, modo_participacao e sugestão. Parâmetros (JSON): { status?: 'novo'|'analisando'|'sugerido_aceitar'|'sugerido_recusar'|'aceito'|'recusado', uf?: string, search?: string, limit?: int, offset?: int }.",
        "method": "POST",
        "url": "http://localhost:5678/webhook/nldiag-tool-dashboard",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI('payload', '{}', 'json') }}"
      },
      "id": "d1000000-0000-4000-8000-000000000009",
      "name": "list_editais",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [-60, 520]
    },
    {
      "parameters": {
        "toolDescription": "Cabeçalho + itens detalhados de um edital (match por item: catalogo, match_score, participa, lote). Parâmetros (JSON): { edital_id: uuid }.",
        "method": "POST",
        "url": "http://localhost:5678/webhook/nldiag-tool-edital",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI('payload', '{}', 'json') }}"
      },
      "id": "d1000000-0000-4000-8000-00000000000a",
      "name": "get_edital",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [100, 520]
    },
    {
      "parameters": {
        "toolDescription": "Catálogo de produtos/serviços ativos da NL Diagnostica (descrição, finalidade, palavras-chave). Sem parâmetros.",
        "method": "POST",
        "url": "http://localhost:5678/webhook/nldiag-tool-catalogo",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI('payload', '{}', 'json') }}"
      },
      "id": "d1000000-0000-4000-8000-00000000000b",
      "name": "catalogo",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [260, 520]
    },
    {
      "parameters": {
        "toolDescription": "Sinais de aprendizado: agregados de decisões passadas (motivos de recusa, UFs aceitas/recusadas, exemplos recentes). Consulte antes de recomendar. Sem parâmetros.",
        "method": "POST",
        "url": "http://localhost:5678/webhook/nldiag-tool-learning",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI('payload', '{}', 'json') }}"
      },
      "id": "d1000000-0000-4000-8000-00000000000c",
      "name": "learning_signals",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [-220, 660]
    },
    {
      "parameters": {
        "toolDescription": "Registra a decisão de um edital. Use SOMENTE quando o usuário pedir/confirmar. Parâmetros (JSON): { edital_id: uuid, acao: 'aceitar'|'recusar', motivo?: string, motivo_effecti?: 'FALTA_CAPACIDADE_TECNICA'|'LOCALIDADE_ENTREGA'|'VALOR_ESTIMADO_BAIXO'|'DOCUMENTACAO_INSUFICIENTE'|'PRAZO_ENTREGA_CURTO'|'OUTROS' }. motivo_effecti só em recusa.",
        "method": "POST",
        "url": "http://localhost:5678/webhook/nldiag-tool-decision",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI('payload', '{}', 'json') }}"
      },
      "id": "d1000000-0000-4000-8000-00000000000d",
      "name": "decidir_edital",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [-60, 660]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"output\": {{ JSON.stringify($json.output) }}, \"sessionId\": \"{{ $('Prepare Input').item.json.sessionId }}\" }",
        "options": {}
      },
      "id": "d1000000-0000-4000-8000-00000000000e",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [360, 0]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook: AgentRag": { "main": [[{ "node": "Prepare Input", "type": "main", "index": 0 }]] },
    "Prepare Input": { "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]] },
    "AI Agent": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] },
    "Azure OpenAI Chat Model": { "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]] },
    "Postgres Chat Memory": { "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]] },
    "Azure OpenAI Embeddings": { "ai_embedding": [[{ "node": "Supabase Vector Store", "type": "ai_embedding", "index": 0 }]] },
    "Supabase Vector Store": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "stats": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "list_editais": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "get_edital": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "catalogo": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "learning_signals": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "decidir_edital": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "id": "NLDiagAgent",
  "tags": []
}
